.label {
    position: relative;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 24px;
    font-weight: 500;
    font-family: Inter;
    color: #8899aa;
    text-align: left;
}

.description {
    flex: 1;
    padding:8px 0px;
    width: 100%;
    position: relative;
    font-size: 18px;
    letter-spacing: 0.1px;
    line-height: 24px;
    font-family: Inter;
    color: #030f1c;
    text-align: left;
    display: inline-block;
}